* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  background: #a7a5a5;
}
/* head */
 .top {
  padding: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 10px 2px rgba(15, 4, 170, 0.64);
  opacity: 0.78;
}

.imagem-login {
  float: right;
  margin: 30px 10px;
  padding: 0px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}



/* menu side left*/

.main {
  padding: 5px;
  width: 20%;
  float: left;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.64);
}

 .left-top {
  width: auto;
  margin: 5px;
  height: auto;
  text-align: center;
 }



 .center  {
  padding: 5px;
  width: 79.5%;
  height: 600px;
  margin: auto; 
  margin-top: 5px;
  float: right;
  text-align: center;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.64);
}

.primeira_imagem {
  padding: 5px;
  border: 1px solid;
  width: 49.5%;
  height: 49%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.segunda_imagem {
  padding: 5px;
  border: 1px solid;
  width: 49.5%;
  height: 49%;
  position: absolute;
  bottom: 5px;
  left: 5px;
  
}

.terceira_imagem {
  padding: 5px;
  border: 1px solid;
  margin: 0px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 49.6%;
  height: 49%;
}

.quarta_imagem {
  padding: 5px;
  width: 49.6%;
  height: 49%;
  border: 1px solid;
  position: absolute;
  bottom: 5px;
  right: 5px;
  
}

 li {
  list-style-type: none;
  margin: 1px;
  padding: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.32);
}

ul {
  margin: 0px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
  margin: auto;
}

nav#botoes a:link, a:visited  {
  color: black;
  text-decoration: none;
}

#botoes {
  margin: 10% 30%;
  
}


